{% extends "pageLayoutTemplate.html" %}
	{% block title %} 
		Map Tool 
	{% endblock %}

	{% block head %} 
		{{ super() }} 
	{% endblock %}

	{% block content %}
		<div class="map-wrapper">
			<div id="map-canvas"></div>
		</div>

		<div class="controller-pane">
	  		<button class="button" onclick="showSensors()">Sensors</button>
	  		<button class="button" onclick="hideMarkers()">Hide</button>
	  		<button class="button btn-toggle">Windows</button>
  		</div>

		<div class="front-panels-wrapper">
			{% include "info-pane.html" %}

			<div class="weather-wrapper">
				<div id="weather"></div>
			</div>
		</div>
	{% endblock %}
		
	{% block footer %} 
		{{ super() }} 
	{% endblock %}