<!DOCTYPE html>
<html lang="en">
<html>
	<head>
		<title>Geo Map Tool</title>
		{% include "header.html" %}
	</head>
	<body>
		

		<div class="map-wrapper">
			<div id="map-canvas"></div>
		</div>

		<div class="controller-pane">
	  		<button class="btn" onclick="showSensors()">Sensors</button>
	  		<button class="btn" onclick="hideMarkers()">Hide</button>
	  		<button class="btn btn-toggle">Toggle Windows</button>
  		</div>

		<div class="front-panels-wrapper">
			{% include "info-pane.html" %}

			<div class="weather-wrapper">
				<div id="weather"></div>
			</div>
		</div>

		{% include "footer.html" %}
	</body>
</html>